@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* navbar design part */
.wrapper {
  background-color: white;
  height: 70px;
  border-bottom: 1px solid lightgray;
}
.nav-wrapper {
  height: 70px;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}
.nav-left-side {
  font-size: 1.5rem;
  padding: 3px 0px;
}
.nav-left-side-item {
  text-decoration: none;
  color: black;
}
.nav-right-side-computer {
  display: none;
}
.nav-right-side-mobile .menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-right-side-computer ul {
  display: flex;
  justify-content: end;
  align-items: center;
}
.nav-right-side-computer ul li {
  list-style: none;
}
.item {
  padding: 5px 15px;
  margin-right: 20px;
  text-decoration: none;
  color: black;
}
.login {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  padding: 5px 15px;
  /* background-color: lightseagreen; */
  background-color: #6366f1;
}
.cart {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
}
/* mobile navbar design */
.nav-mobile {
  height: 100vh;
  width: 200px;
  background-color: lightgrey;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.3s linear;
}
.cross-icon-div {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
  margin-right: 20px;
  cursor: pointer;
}
.cross-icon {
  padding: 5px;
  font-size: 2rem;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 50%;
}
.nav-mobile ul {
  margin-top: 20px;
}
.nav-mobile ul li {
  list-style: none;
  padding: 5px 10px;
  margin: 20px 10px;
}

.mobile-item {
  color: #000;
  text-decoration: none;
}

@media only screen and (min-width: 801px) {
  .nav-right-side-mobile .menu-icon {
    display: none;
  }
  .nav-right-side-computer {
    display: block;
  }
}
/* overview design part */
.overview-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 20px;
}
.welcome {
  font-size: 0.9rem;
  color: #6366f1;
  line-height: 1.2rem;
}
.store {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
}
.main-para {
  font-size: 1rem;
}
.shop-button {
  border: none;
  background-color: #6366f1;
  padding: 7px 10px;
  margin-top: 10px;
  color: #fff;
  cursor: pointer;
}
.banner-img {
  width: 100%;
}
@media only screen and (max-width: 801px) {
  .overview-section {
    display: flex;
    flex-direction: column;
  }
}
